<h1>POMS WEEK 8</h1>

<body>
<div class ="form-group">
<label for ="sender"> Sender</label>
<input class = 'form-control' type=text [(ngModel)]= "sender"  id="sender" /><br>

</div>
<div class ="form-group">
    <label for ="address"> Address</label>
    <input class = 'form-control' type=text [(ngModel)]= "address" id="address"/><br>
</div>
<div class ="form-group">
    <label for ="postcode"> Postcode</label>
    <input class = 'form-control' type=number [(ngModel)]= "postcode" id="postcode" /><br>
</div>
<div class ="form-group">
    <label for ="weight"> Weight</label>
    <input class = 'form-control' type=number [(ngModel)]= "weight" id="weight" min=0/><br>
</div>
<div class ="form-group">
    <label for ="cost"> Cost</label>
    <input class = 'form-control' type=number [(ngModel)]= "cost" id="cost" min=0/><br>
</div>
<div class ="form-group">
    <label for ="fragile"> Fragile</label>
 <select class='form-control' [(ngModel)]= "fragile">
        <option value="false">false</option>
        <option value="true">true</option></select><br>
</div>

<button (click)= "addParcel()" > Add Parcel {{db.length}} </button>
<button (click)="deleteParcelbyWeight()" [disabled]= "hasZeroWeight()">Delete Parcel with zero weight: {{zeroWeight}} </button>

<table class="table table-striped table-dark table table-sm">
    <thead>
    <tr>
        <th>#</th>
        <th>Sender </th>
        <th>Address </th>
        <th>Postcode</th>
        <th>Weight </th>
        <th>Cost </th>
        <th>Fragile </th>
        <th>Delete</th>
        <th>View</th>  
    </tr>
</thead>
<tbody>
    <tr *ngFor='let parcel of db; let i= index'>
        <td> {{i+1}}</td>
        <td> {{parcel.sender}}</td>
        <td> {{parcel.address}}</td>
        <td> {{parcel.postcode}}</td>
        <td> {{parcel.weight}}</td>
        <td> {{parcel.cost}}</td>
        <td> {{parcel.fragile}}</td>
        <td> <button class="btn btn-primary"(click)="deleteParcelbyId(parcel.id)" > x</button></td> 
        <td> <button class="button"(click)="createAnother(parcel.id)" > x</button></td> 
    </tr>
</tbody>
</table>